@import "tailwindcss";

@theme {
  --color-back: #f7f7f4;
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-brand: #cf3130;
  --color-brand-back: #f3c7c7;
  --color-blue: #133a62;
  --color-blue-back:#afcfdb;
  --color-orange: #cd8401;
  --color-orange-back: #ffefd4;
  --color-brown: #83704d;
  --color-brown-back: #dbc293;
  --color-red: #fb1c0a;
  --color-success: #c5e1c7;
  --color-error: #fb3858;




}

  body {
    background-color: var(--color-back);
  }


  button {
    cursor: pointer;
  }


